<div class="row">
  <div class="span9">
    <p id="notice"><%= notice %></p>

    <p>
      <b>Title:</b>
      <%= @scenario.title %>
    </p>

    <p>
      <b>Scenario type:</b>
      <%= @scenario.scenario_type %>
    </p>
    <p>
      <div class="pull-right">
        <%= link_to 'List all scenarios', scenarios_path, :class => "btn" %>
      </div>
      <button class="btn btn-primary" id="run">Run!</button>
    </p>

    <canvas width="1000" height="400" id="simulation"></canvas>
  </div>
  <div class="span3">
    <div id="edit-node" class="well">
      Click on node or interface to edit it.
    </div>
  </div>
</div>
