// Place all the styles related to the Scenarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#edit-node
  width: 100%
  border-bottom: 2px solid gray
  background-color: #DADADA
  input
    background-color: #F5F5F5
    border: 1px solid gray
    margin-left: 5px
    margin-right: 10px
